:root {
	--textHeight: 30px;
	--textFont: 1rem;
}

textarea {
	border: none;
	resize: vertical;
	overflow: hidden;
	font-size: var(--textFont);
}

.textArea {
	width: 15rem;
	height: var(--textHeight);
  resize: none;
}

.printBody {
	width: 40rem;
}

#quotationTable {
	width: 100%;
	/* overflow: hidden; */
}

#tableHeading > th {
	padding: 0;
}

#tableRow > td {
	cursor: pointer;
	/* height: var(--textHeight); */
	padding: 0 5px;
	font-size: var(--textFont);
}

#responsiveText {
	font-size: var(--textFont);
}

#marginNotReduce {
	margin-top: 2rem;
}

#marginReduce {
	margin-top: 0;
}

::placeholder {
	/* Chrome, Firefox, Opera, Safari 10.1+ */
	color: black;
	opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	color: black;
}

::-ms-input-placeholder {
	/* Microsoft Edge */
	color: black;
}

@media only screen and (max-width: 600px) {
	#navLength {
		width: 45rem;
	}

	#quotationBody {
		width: 40rem;
		margin: 0 2rem;
	}

	.formInputs {
		flex-direction: column;
		width: 30rem;
		/* overflow: scroll; */
	}
}
